/* BASE STYLE */
* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: #333;
}

body {
  font-family: Roboto;
  background-color: #f5f9fb;
  color: #263240;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.secondary_nav {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #263240 !important;
  font-family: "Quicksand", Helvetica Neue, Arial, sans-serif;
}

h1 {
  font-family: Quicksand;
  text-transform: uppercase;
  margin: 30px 0px 30px 0px;
}

h1 .bold {
  font-weight: 700;
}

a {
  color: #2f9fda;
}

a:hover {
  color: #3cafeb;
}

li {
  list-style-type: square;
}

input[type="text"], input[type="email"], input[type="password"], .textarea, textarea[type="text"] {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #333;
  box-shadow: none;
  outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, .textarea:focus, textarea[type="text"]:focus {
  border: 1px solid #2f9fda;
  box-shadow: none;
}

.textarea, textarea {
  resize: vertical;
}

.btn {
  background-color: #E2C029;
  border: none;
  color: white;
  box-shadow: none;
  -webkit-transition: ease 0.3s background-color;
  transition: ease 0.3s background-color;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #cdad1c;
  color: white;
  -webkit-transition: ease 0.3s background-color;
  transition: ease 0.3s background-color;
}

.container {
  margin: 30px auto;
}

/* Custom, iPhone Retina */
/* Large Devices, Wide Screens */
.navbar {
  background-color: #263240;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  z-index: 10;
}

.navbar .logo {
  background: url(/assets/images/logo_apptite.svg) no-repeat center;
  background-size: 100px;
  width: 130px;
  text-indent: -9999px;
  -webkit-transition: ease 0.3s opacity;
  transition: ease 0.3s opacity;
}

.navbar .logo:hover {
  opacity: 0.7;
  -webkit-transition: ease 0.3s opacity;
  transition: ease 0.3s opacity;
}

.navbar-nav > li > a {
  color: #f5f9fb !important;
}

.navbar-default .navbar-right #username {
  color: white;
  font-weight: 500;
  margin: 25px 0 0 30px;
}

.navbar-default .navbar-right li a {
  background-color: transparent;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.navbar-default .navbar-right li a:hover {
  background-color: #2f9fda;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

.navbar-default .navbar-right .open > a, .navbar-default .navbar-right .open > a:focus, .navbar-default .navbar-right .open > a:hover, .navbar-default .navbar-right .open > a:active {
  border: 2px solid #2f9fda;
}

.navbar-default .navbar-collapse {
  border-color: #263240;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
  background-color: #2f9fda;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5f9fb;
}

.navbar-right li a.nav-login {
  background-color: #2f9fda;
  color: white !important;
}

.navbar-right li a.nav-login:hover {
  background-color: #014D6F;
}

@media (min-width: 768px) {
  .navbar-right li a.nav-login {
    display: inline;
    border-radius: 4px;
    padding: 10px 15px;
  }
  .navbar-right li a.nav-register {
    display: inline;
    padding: 8px 13px;
    border-radius: 4px;
    margin-right: 10px;
    border: 2px solid #2f9fda;
    box-sizing: border-box;
  }
  .navbar-brand,
  .navbar-nav > li > a {
    line-height: 66px;
    height: 66px;
    padding-top: 0;
  }
  .nav-btn, .nav-btn-account {
    width: 40px;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid #2f9fda;
    text-indent: -9999px;
    margin: 13px 0 0 20px;
  }
  .upload {
    background: url(/assets/images/icon_upload.svg) no-repeat center;
    background-size: 40%;
  }
  .nav-btn-account {
    text-indent: 0;
    border: none;
    overflow: hidden;
  }
  .nav-btn-account img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    /* Half the height */
    margin-left: -20px;
    /* Half the width */
  }
  .dropdown-menu {
    border-radius: 6px !important;
    border: none;
    margin-top: 15px !important;
    background-color: #263240;
    padding: 0 0;
    overflow: hidden;
  }
  .dropdown-menu li {
    border-top: 1px solid #223652;
  }
  .dropdown-menu li a {
    color: #f5f9fb;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .dropdown-menu li a:hover {
    background: transparent !important;
    color: #2f9fda;
  }
}

@media (max-width: 768px) {
  .navbar .logo {
    left: 50%;
    right: 50%;
    text-align: center;
    position: absolute;
    margin-left: -65px;
  }
  #username {
    display: none;
  }
  .profile_pic {
    display: none;
  }
}

.hero {
  background-image: url(/assets/images/hero_banner.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.header {
  position: absolute;
  top: 40%;
  color: #f5f9fb;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 100px;
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%);
}

.header .header-logo {
  display: block;
  width: 400px;
  margin: 0 auto 15px auto;
}

.header h2 {
  color: #f5f9fb !important;
  font-weight: 200;
  font-size: 20px;
}

.banner {
  background-image: url(/assets/images/banner-table.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 150px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.banner-header {
  position: absolute;
  top: 50%;
  color: #f5f9fb;
  text-align: center;
  width: 100%;
  color: #fff;
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%);
}

.banner-header h2 {
  color: #f5f9fb !important;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}

.eventdetail-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 300px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.eventdetail-wrapper .eventdetail-title {
  text-align: center;
  color: white !important;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 300px;
}

.footer-distributed {
  background-color: #263240;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: "Roboto" 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed .footer-logo {
  background: url(/assets/images/logo_apptite.svg) no-repeat center;
  background-size: 100px;
  width: 130px;
  height: 50px;
  text-indent: -9999px;
  -webkit-transition: ease 0.3s opacity;
  transition: ease 0.3s opacity;
}

.footer-distributed .footer-logo:hover {
  opacity: 0.7;
  -webkit-transition: ease 0.3s opacity;
  transition: ease 0.3s opacity;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links a:hover {
  opacity: 0.5;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center i:hover {
  background-color: #2f9fda;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #2f9fda;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #2f9fda;
}

/* Footer left */
/* The company logo */
/* Footer links */
/* Footer Center */
/* Footer Right */
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.panel-default > .panel-heading-custom {
  background: #263240;
  color: #fff;
}

.meal-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.meal-container .meal-item {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.meal-container .meal-item img {
  height: 100%;
  width: 100%;
}

.meal-container .meal-item .meal-description {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  display: none;
}

.meal-container .meal-item .meal-description-content {
  margin-top: 30%;
}

.meal-container .meal-item .meal-description-content .meal-name {
  color: white !important;
  margin: 0 0 10px 0;
}

.meal-container .meal-item .meal-description-content .meal-price {
  color: white !important;
  margin: 0 0 20px 0;
  font-size: 1em;
  font-weight: 100;
}

.meal-container .meal-item .meal-description-content button {
  color: white !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-size: .9em;
}

.meal-container .meal-item:hover .meal-description {
  display: block;
}

.meal-container .modal-header-title {
  text-align: center;
  margin-bottom: 30px;
}

.meal-container .datepicker {
  background-color: #fff;
  color: #333;
}

.header-title {
  text-align: center;
  margin: 0 0 30px 0;
}

.event-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-container .event-item {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 1px solid grey;
}

.event-container .event-item img {
  height: 100%;
  width: 100%;
}

.event-container .event-item .event-price {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-weight: 300;
  font-size: .9em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
}

.event-container .event-item .event-price span {
  font-size: 1.5em;
  font-weight: 400;
}

.event-container .event-item .event-places {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 5px 10px 5px;
  margin: 5px;
  border-radius: 10%;
  font-weight: 300;
  font-size: .8em;
  background-color: green;
  color: white !important;
}

.event-container .event-item .event-description {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 50, 64, 0.9);
  color: red;
  display: block;
}

.event-container .event-item .event-description-content .user-avatar {
  position: relative;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.event-container .event-item .event-description-content .user-name {
  position: absolute;
  bottom: 17px;
  left: 55px;
  font-size: .8em;
  color: white !important;
}

.event-container .event-item .event-description-content .user-location {
  position: absolute;
  bottom: 35px;
  right: 5px;
  color: white !important;
  font-size: .7em;
  font-weight: 200;
}

.event-container .event-item .event-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  text-align: center;
}

.event-container .event-item .event-title h3 {
  line-height: 230px;
  font-size: 1.2em;
}

.event-container .event-item .event-title h3 a {
  color: white !important;
}

.event-container .event-item .event-title h3 a:hover {
  text-decoration: none;
}

.event-container .event-item:hover .event-title {
  display: block;
}

.profile-container .profile-header ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
}

.profile-container .profile-header ul .user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px 0 0 0;
}

.profile-container .profile-header ul li {
  list-style-type: none;
}

.profile-container .profile-header ul .username {
  margin: 15px 0 5px 0;
}

.profile-container .form-group {
  margin-bottom: 30px;
}

.profile-container .cta-toevoegen {
  color: white;
  display: block;
  background-color: #2f9fda;
  padding: 15px;
  border-radius: 2%;
  width: 90%;
  margin: 0 auto 30px auto;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.profile-container .cta-toevoegen:hover {
  background-color: #238dc4;
  -webkit-transition: ease 0.3s background-color;
  transition: ease 0.3s background-color;
  text-decoration: none;
}

.reservation-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.btn-zoek {
  margin: 20px 0 0 0;
}

.btn-zoek a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
