/* BASE STYLE */
* {
  outline: none;
  box-sizing: border-box; }

html, body {
  height: 100%;
  color: #333;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: Roboto;
  background-color: #f5f9fb;
  color: #263240;
  display: flex;
  flex-direction: column; }

.content {
  flex-grow: 1;
  flex-shrink: 1; }

.navbar {
  flex-grow: 0;
  flex-shrink: 0; }

.secondary_nav {
  flex-grow: 0;
  flex-shrink: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #263240 !important;
  font-family: "Quicksand", Helvetica Neue, Arial, sans-serif; }

h1 {
  font-family: Quicksand;
  text-transform: uppercase;
  margin: 30px 0px 30px 0px; }
  h1 .bold {
    font-weight: 700; }

a {
  color: #2f9fda; }
  a:hover {
    color: #3cafeb; }

li {
  list-style-type: square; }

input[type="text"], input[type="email"], input[type="password"], .textarea, textarea[type="text"] {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #333;
  box-shadow: none;
  outline: none; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, .textarea:focus, textarea[type="text"]:focus {
    box-shadow: none;
    outline: none; }

.textarea, textarea {
  resize: vertical; }

.btn {
  background-color: #E2C029;
  border: none;
  color: white;
  box-shadow: none;
  transition: ease 0.3s background-color; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #cdad1c;
    color: white;
    transition: ease 0.3s background-color; }

.container {
  margin: 60px auto; }

.pac-container:after {
  content: none !important; }

/* Custom, iPhone Retina */
/* Large Devices, Wide Screens */
.img-howitworks {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto; }

.hometitle {
  font-size: 3em; }

.homesubtitle {
  margin-bottom: 1em; }

.navbar {
  background-color: #263240;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  z-index: 10;
  position: fixed;
  width: 100%; }
  .navbar .logo {
    background: url(/assets/images/logo_apptite.svg) no-repeat center;
    background-size: 80px;
    width: 130px;
    text-indent: -9999px;
    transition: ease 0.3s opacity; }
    .navbar .logo:hover {
      opacity: 0.7;
      transition: ease 0.3s opacity; }

.navbar-nav > li > a {
  color: #f5f9fb !important; }

.navbar-default .navbar-search {
  font-family: Roboto, FontAwesome;
  margin: 9px 0 0 0; }
  .navbar-default .navbar-search input {
    background-color: #263240;
    border: none;
    color: #465c75;
    font-size: 1.3em;
    font-weight: 100; }
  .navbar-default .navbar-search ::-webkit-input-placeholder {
    color: #465c75; }
.navbar-default .navbar-right #username {
  color: white;
  font-weight: 500;
  margin: 25px 0 0 30px; }
.navbar-default .navbar-right li a {
  background-color: transparent;
  transition: 0.3s ease all; }
  .navbar-default .navbar-right li a:hover {
    background-color: #2f9fda;
    transition: 0.3s ease background-color; }
.navbar-default .navbar-right .open > a, .navbar-default .navbar-right .open > a:focus, .navbar-default .navbar-right .open > a:hover, .navbar-default .navbar-right .open > a:active {
  border: 2px solid #2f9fda; }
.navbar-default .navbar-collapse {
  border-color: #263240; }
.navbar-default .navbar-toggle {
  border: none; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
    background-color: #2f9fda; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f5f9fb; }

.navbar-right li a.nav-login {
  background-color: #2f9fda;
  color: white !important; }
  .navbar-right li a.nav-login:hover {
    background-color: #014D6F; }

@media (min-width: 768px) {
  .navbar-right li a.nav-login {
    display: inline;
    border-radius: 4px;
    padding: 10px 15px; }

  .navbar-right li a.nav-register {
    display: inline;
    padding: 8px 13px;
    border-radius: 4px;
    margin-right: 10px;
    border: 2px solid #2f9fda;
    box-sizing: border-box; }

  .navbar-brand,
  .navbar-nav > li > a {
    line-height: 66px;
    height: 66px;
    padding-top: 0; }

  .nav-btn, .nav-btn-account {
    width: 40px;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid #2f9fda;
    text-indent: -9999px;
    margin: 13px 0 0 20px; }

  .upload {
    background: url(/assets/images/icon_upload.svg) no-repeat center;
    background-size: 40%; }

  .nav-btn-account {
    text-indent: 0;
    border: none;
    overflow: hidden; }
    .nav-btn-account img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      /* Half the height */
      margin-left: -20px;
      /* Half the width */ }

  .dropdown-menu {
    border-radius: 6px !important;
    border: none;
    margin-top: 15px !important;
    background-color: #263240;
    padding: 0 0;
    overflow: hidden; }
    .dropdown-menu li {
      border-top: 1px solid #223652; }
      .dropdown-menu li a {
        color: #f5f9fb;
        padding-top: 8px;
        padding-bottom: 8px; }
        .dropdown-menu li a:hover {
          background: transparent !important;
          color: #2f9fda; } }
@media (max-width: 768px) {
  .navbar .logo {
    left: 50%;
    right: 50%;
    text-align: center;
    position: absolute;
    margin-left: -65px; }

  #username {
    display: none; }

  .profile_pic {
    display: none; } }
.hero {
  background-image: url(/assets/images/hero_banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }

.header {
  position: absolute;
  top: 40%;
  color: #f5f9fb;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 100px;
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%);
  margin-top: 50px; }
  .header .header-logo {
    display: block;
    width: 400px;
    margin: 0 auto 15px auto; }
  .header h2 {
    color: #f5f9fb !important;
    font-weight: 200;
    font-size: 20px; }
  .header .searchbox {
    margin: 20px 0 0 0; }
    .header .searchbox h4 {
      padding: 0 15px 0 15px;
      font-size: 1em;
      color: white !important; }

.banner {
  background-image: url(/assets/images/banner-table.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 150px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-top: 50px; }

.banner-header {
  position: absolute;
  top: 50%;
  color: #f5f9fb;
  text-align: center;
  width: 100%;
  color: #fff;
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%); }
  .banner-header h2 {
    color: #f5f9fb !important;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase; }

.eventdetail-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 300px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-top: 50px; }
  .eventdetail-wrapper .eventdetail-title {
    text-align: center;
    color: white !important;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 300px; }

.footer-distributed {
  background-color: #263240;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: "Roboto" 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px; }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top; }
  .footer-distributed .footer-left {
    width: 40%; }
  .footer-distributed .footer-logo {
    background: url(/assets/images/logo_apptite.svg) no-repeat center;
    background-size: 100px;
    width: 130px;
    height: 50px;
    text-indent: -9999px;
    transition: ease 0.3s opacity; }
    .footer-distributed .footer-logo:hover {
      opacity: 0.7;
      transition: ease 0.3s opacity; }
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0; }
    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit; }
      .footer-distributed .footer-links a:hover {
        opacity: 0.5; }
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0; }
  .footer-distributed .footer-center {
    width: 35%; }
    .footer-distributed .footer-center i {
      background-color: #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle; }
      .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px; }
      .footer-distributed .footer-center i:hover {
        background-color: #2f9fda; }
    .footer-distributed .footer-center p {
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
      margin: 0; }
      .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2; }
      .footer-distributed .footer-center p a {
        color: #2f9fda;
        text-decoration: none; }
  .footer-distributed .footer-right {
    width: 20%; }
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0; }
    .footer-distributed .footer-company-about span {
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px; }
  .footer-distributed .footer-icons {
    margin-top: 25px; }
    .footer-distributed .footer-icons a {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px; }
      .footer-distributed .footer-icons a:hover {
        background-color: #2f9fda; }

/* Footer left */
/* The company logo */
/* Footer links */
/* Footer Center */
/* Footer Right */
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center; }
    .footer-distributed .footer-center i {
      margin-left: 0; } }
.panel-default > .panel-heading-custom {
  background: #263240;
  color: #fff; }

.meal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .meal-container .meal-item {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px; }
    .meal-container .meal-item img {
      height: 100%;
      width: 100%; }
    .meal-container .meal-item .meal-description {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: red;
      display: none; }
    .meal-container .meal-item .meal-description-content {
      margin-top: 30%; }
      .meal-container .meal-item .meal-description-content .meal-name {
        color: white !important;
        margin: 0 0 10px 0; }
      .meal-container .meal-item .meal-description-content .meal-price {
        color: white !important;
        margin: 0 0 20px 0;
        font-size: 1em;
        font-weight: 100; }
      .meal-container .meal-item .meal-description-content button {
        color: white !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        font-size: .9em; }
    .meal-container .meal-item:hover .meal-description {
      display: block; }
  .meal-container .modal-header-title {
    text-align: center;
    margin-bottom: 30px; }
  .meal-container .datepicker {
    background-color: #fff;
    color: #333; }

.header-title {
  text-align: center;
  margin: 0 0 30px 0;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1.2px solid #CCCCCC; }

.event-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .event-container .event-card {
    margin: 0 0 40px 0; }
    .event-container .event-card h5 {
      font-size: 1.28571429em;
      font-weight: 700;
      line-height: 1.2857em;
      margin: 0; }
    .event-container .event-card .card {
      font-size: 1em;
      overflow: hidden;
      padding: 0;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
    .event-container .event-card .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, 0.1);
      box-shadow: none;
      background-color: white; }
    .event-container .event-card .card-img-top {
      display: block;
      width: 100%;
      height: auto; }
    .event-container .event-card .card-title {
      font-size: 1.28571429em;
      font-weight: 700;
      line-height: 1.2857em; }
    .event-container .event-card .card-text {
      clear: both;
      margin-top: .5em;
      color: rgba(0, 0, 0, 0.68); }
    .event-container .event-card .card-footer {
      font-size: 1em;
      position: static;
      top: 0;
      left: 0;
      max-width: 100%;
      padding: .75em 1em;
      color: rgba(0, 0, 0, 0.4);
      border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
      background: #fff; }
      .event-container .event-card .card-footer .event-places {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px 5px 10px 5px;
        margin: 5px;
        border-radius: 5%;
        font-weight: 300;
        font-size: .8em;
        background-color: #2EBD59;
        color: white !important; }
    .event-container .event-card .card-inverse .btn {
      border: 1px solid rgba(0, 0, 0, 0.05); }
    .event-container .event-card .profile {
      position: absolute;
      top: -18px;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      margin: 0;
      border: 1px solid #fff;
      border-radius: 50%; }
    .event-container .event-card .profile-avatar {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%; }
    .event-container .event-card .profile-inline {
      position: relative;
      top: 0;
      display: inline-block; }
    .event-container .event-card .profile-inline ~ .card-title {
      display: inline-block;
      margin-left: 4px;
      vertical-align: top; }
    .event-container .event-card .text-bold {
      font-weight: 700; }
    .event-container .event-card .meta {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.4);
      margin: 10px 0 0 0; }
    .event-container .event-card .meta a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.4); }
    .event-container .event-card .meta a:hover {
      color: rgba(0, 0, 0, 0.87); }

.profile-container .profile-header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }
  .profile-container .profile-header ul .user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 0 0 0; }
  .profile-container .profile-header ul li {
    list-style-type: none; }
  .profile-container .profile-header ul .username {
    margin: 15px 0 5px 0; }
.profile-container .form-group {
  margin-bottom: 30px; }
.profile-container .cta-toevoegen {
  color: white;
  display: block;
  background-color: #2f9fda;
  padding: 15px;
  border-radius: 2%;
  width: 90%;
  margin: 0 auto 30px auto;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase; }
  .profile-container .cta-toevoegen:hover {
    background-color: #238dc4;
    transition: ease 0.3s background-color;
    text-decoration: none; }

.user-detail .user-image {
  border-radius: 50%;
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto 20px auto; }
.user-detail .user-info {
  text-align: center; }
  .user-detail .user-info .user-date {
    font-weight: 100; }

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
  cursor: pointer;
  margin: 0 0 20px 0; }

.reservation-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%; }

.btn-zoek {
  margin: 20px 0 0 0; }
  .btn-zoek a {
    color: white;
    text-decoration: none; }

.float-label-control {
  position: relative;
  margin-bottom: 1.5em; }

/*
.float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
*/
.float-label-control :-ms-input-placeholder {
  color: transparent; }

.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -moz-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important; }

.float-label-control input, .float-label-control textarea, .float-label-control label {
  font-size: 1.3em;
  box-shadow: none;
  -webkit-box-shadow: none; }

.float-label-control input:focus,
.float-label-control textarea:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom-width: 2px;
  padding-bottom: 0; }

.float-label-control textarea:focus {
  padding-bottom: 4px; }

.float-label-control input, .float-label-control textarea {
  display: block;
  width: 100%;
  padding: 0.1em 0em 1px 0em;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #aaa;
  outline: none;
  margin: 0px;
  background: none; }

.float-label-control textarea {
  padding: 0.1em 0em 5px 0em; }

.float-label-control label {
  position: absolute;
  font-weight: normal;
  top: -1.0em;
  left: 0.08em;
  color: #aaaaaa;
  z-index: -1;
  font-size: 0.85em;
  -moz-animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
  -o-animation: float-labels 300ms none ease-out;
  -ms-animation: float-labels 300ms none ease-out;
  -khtml-animation: float-labels 300ms none ease-out;
  animation: float-labels 300ms none ease-out;
  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important; }

.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
  top: 0.1em;
  font-size: 1.5em;
  animation: none;
  -webkit-animation: none; }

.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label {
  z-index: 1; }

.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label {
  color: #aaaaaa; }

.float-label-control.label-bottom label {
  -moz-animation: float-labels-bottom 300ms none ease-out;
  -webkit-animation: float-labels-bottom 300ms none ease-out;
  -o-animation: float-labels-bottom 300ms none ease-out;
  -ms-animation: float-labels-bottom 300ms none ease-out;
  -khtml-animation: float-labels-bottom 300ms none ease-out;
  animation: float-labels-bottom 300ms none ease-out; }

.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label {
  top: 3em; }

@keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }
  20% {
    font-size: 1.5em;
    opacity: 0; }
  30% {
    top: 0.1em; }
  50% {
    opacity: 0;
    font-size: 0.85em; }
  100% {
    top: -1em;
    opacity: 1; } }
@-webkit-keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }
  20% {
    font-size: 1.5em;
    opacity: 0; }
  30% {
    top: 0.1em; }
  50% {
    opacity: 0;
    font-size: 0.85em; }
  100% {
    top: -1em;
    opacity: 1; } }
@keyframes float-labels-bottom {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }
  20% {
    font-size: 1.5em;
    opacity: 0; }
  30% {
    top: 0.1em; }
  50% {
    opacity: 0;
    font-size: 0.85em; }
  100% {
    top: 3em;
    opacity: 1; } }
@-webkit-keyframes float-labels-bottom {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em; }
  20% {
    font-size: 1.5em;
    opacity: 0; }
  30% {
    top: 0.1em; }
  50% {
    opacity: 0;
    font-size: 0.85em; }
  100% {
    top: 3em;
    opacity: 1; } }
#logo-login {
  display: block;
  width: 50%;
  margin: 0 auto 50px auto; }

/*# sourceMappingURL=app.css.map */
