.banner{
  background-image:url(/assets/images/banner-table.jpg);
  background-size:cover;
  background-position: center;
  position:relative;
  height: 150px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}

.banner-header{
  position:absolute;
  top:50%;
  color: $lightGray;
  text-align:center;
  width:100%;
  color:#fff;
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);

  h2{
    color: $lightGray!important;
    font-weight: 200;
    font-size: 30px;
  }
}