.eventdetail-wrapper{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  height: 300px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);


  .eventdetail-title{
    text-align: center;
    color: white !important;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 300px;
  }
}

