.meal-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .meal-item{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;

    img{
      height: 100%;
      width: 100%;
    }

    .meal-description{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: red;
      display: none;
    }

    .meal-description-content {
      margin-top: 30%;
      .meal-name{
        color: white !important;
        margin: 0 0 10px 0;
      }
      .meal-price{
        color: white !important;
        margin: 0 0 20px 0;
        font-size: 1em;
        font-weight: 100;
      }
      .btn-primary{
        color: white !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        font-size: .9em;
      }
      .btn-delete{
        background-color: #D7263D;
        position: absolute;
        right: 5px;
        top: 5px;

        &:hover{
          background-color: #ba2135;
        }
      }
    }

      &:hover .meal-description{
      display: block;
    }

  }

  .modal-header-title{
    text-align: center;
    margin-bottom: 30px;
  }

  .datepicker {
    background-color: #fff ;
    color: #333 ;
  }
}

.banner-meals {
  background-image: url(/assets/images/banner-meals.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 250px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .1);
  margin-top: 50px;

  .banner-meals-overlay {
    position: absolute;
    top: 50%;
    color: $lightGray;
    text-align: center;
    width: 100%;
    color: #fff;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
  }

  h3{
    color: white !important;
    margin: 0 0 20px 0;
  }

  .btnAdd{
    width: 100px;
    height: 100px;
  }
}


