.meal-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .meal-item{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;

    img{
      height: 100%;
      width: 100%;
    }

    .meal-description{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: red;
      display: none;
    }

    .meal-description-content {
      margin-top: 30%;
      .meal-name{
        color: white !important;
        margin: 0 0 10px 0;
      }
      .meal-price{
        color: white !important;
        margin: 0 0 20px 0;
        font-size: 1em;
        font-weight: 100;
      }
      button{
        color: white !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        font-size: .9em;

      }
    }

      &:hover .meal-description{
      display: block;
    }

  }

  .modal-header-title{
    text-align: center;
    margin-bottom: 30px;
  }

  .datepicker {
    background-color: #fff ;
    color: #333 ;
  }
}



