.user-detail {

  .user-image {
    border-radius: 50%;
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto 20px auto;
  }

  .user-info {
    text-align: center;

    .user-date{
      font-weight: 100;
    }
  }

}

.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
  margin: 0 0 20px 0;
}
